 body {
    
 }

 header, footer{
  font-family: 'Times New Roman', Times, serif;
  color: orangered;
  font-size: 20px;
  height: 10vh;
  text-align: center;
 }
  header{
   font-family: Apple Chancery ;
   font-size: 40px;
}
 
 .Calculator{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   
 }

 .container{
    width: 290px;
    height: 480px;
    background-color: #00847B;
    border: 1ch #00BCB0 solid;
    border-radius: 3px;
    position:relative; 
    bottom: 50px;
 }

 #monitor{
   width: 260px;
   height: 13vh;
   background-color:rgb(12, 12, 58);
   margin: 1em;
   border-radius: 3px;
 }

 button{
   height: 3em;
   width: 3.5em;
   margin: 1ch;
   background-color: #BFFFFB;
    border: 0.5ch #5f2c2a solid;
    font-size: 15px;
    border-radius: 3px;
 }

 .digits{
   display: flex;
   flex-wrap: wrap;
   background-color: #55938a;
   justify-content: space-around;
   margin-top: 2rem;
 }

 #plus , #subtract, #multiply, #divide {
   background-color: pink;
 }
#plus:hover , #subtract:hover, #multiply:hover, #divide:hover {
 background-color:rgb(252, 221, 225) ;
}

 #equals{
   background-color: #b73e3e;
 }
#equals:hover{
background-color: #9f5d5d;
}
 #ac{
   background-color: rgb(255, 204, 110);
 }